USE [master]
GO
/****** Object:  Database [UTN_DB]    Script Date: 20/06/2022 1:17:00 AM ******/
CREATE DATABASE [UTN_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UTN_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\UTN_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UTN_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\UTN_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UTN_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UTN_DB]
GO
/****** Object:  Table [dbo].[PACIENTES]    Script Date: 20/06/2022 1:17:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACIENTES](
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[OS_PACIENTE] [int] NOT NULL,
 CONSTRAINT [PK_PACIENTES_1] PRIMARY KEY CLUSTERED 
(
	[OS_PACIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TURNOS]    Script Date: 20/06/2022 1:17:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TURNOS](
	[ID_TURNO] [int] NOT NULL,
	[MATRICULA_MEDICO] [int] NOT NULL,
	[OS_PACIENTE] [int] NOT NULL,
	[FECHA] [date] NOT NULL,
	[HORARIO] [varchar](5) NOT NULL,
 CONSTRAINT [PK_TURNOS] PRIMARY KEY CLUSTERED 
(
	[ID_TURNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PACIENTES] ([NOMBRE], [APELLIDO], [OS_PACIENTE]) VALUES (N'Erick', N'Cartman', 666)
INSERT [dbo].[PACIENTES] ([NOMBRE], [APELLIDO], [OS_PACIENTE]) VALUES (N'Pepe', N'Rico', 12312)
INSERT [dbo].[PACIENTES] ([NOMBRE], [APELLIDO], [OS_PACIENTE]) VALUES (N'Ilda', N'Zolezzi', 12345)
GO
INSERT [dbo].[TURNOS] ([ID_TURNO], [MATRICULA_MEDICO], [OS_PACIENTE], [FECHA], [HORARIO]) VALUES (1, 11283848, 12345, CAST(N'2022-06-06' AS Date), N'9:30')
INSERT [dbo].[TURNOS] ([ID_TURNO], [MATRICULA_MEDICO], [OS_PACIENTE], [FECHA], [HORARIO]) VALUES (2, 11283848, 12312, CAST(N'2022-06-07' AS Date), N'10:30')
INSERT [dbo].[TURNOS] ([ID_TURNO], [MATRICULA_MEDICO], [OS_PACIENTE], [FECHA], [HORARIO]) VALUES (3, 10303456, 12445, CAST(N'2022-06-09' AS Date), N'10:30')
GO
ALTER TABLE [dbo].[TURNOS]  WITH CHECK ADD  CONSTRAINT [FK_TURNOS_PACIENTES] FOREIGN KEY([OS_PACIENTE])
REFERENCES [dbo].[PACIENTES] ([OS_PACIENTE])
GO
ALTER TABLE [dbo].[TURNOS] CHECK CONSTRAINT [FK_TURNOS_PACIENTES]
GO
USE [master]
GO
